body {
    margin-top: auto;
    margin-left: auto;
//     a codeninja template
    h1{
        font-family: poppins;
    }
    ul {
        list-style-type: none;
        margin-top: 0px;
        padding-left: 760px;
        overflow: hidden;
        width: 403px;
        background-color: rgb(36, 36, 36);
      }
      
      li {
        float: left;
      }
      
      li a {
        font-family: poppins;
        font-size: xx-small;
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .dw a{
          color: rgb(0, 0, 0);
          background-color: rgb(255, 230, 0);
      }
      @media only screen and (max-width:600px){
        ul {
            list-style-type: none;
            margin-top: 0px;
            padding-left: 2px;      
            overflow: hidden;
            width: 300px;
            background-color: rgb(36, 36, 36);
          }
          
          li {
            float: left;
          }
          
          li a {
            font-family: poppins;
            font-size: xx-small;
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 7px;
            text-decoration: none;
          }
      }

}
