body {
    margin-top: auto;
    h1{
        font-family: poppins;
    }
    ul {
        list-style-type: none;
        margin-top: 0px;
        padding-left: 745px;
        overflow: hidden;
        width: 403px;
        background-color: rgb(36, 36, 36);
      }
      
      li {
        float: left;
      }
      
      li a {
        font-family: poppins;
        font-size: xx-small;
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .dw a{
          color: rgb(0, 0, 0);
          background-color: rgb(255, 230, 0);
      }

      .dw {
        display: inline-block;
        position: relative;
        color: #ffffff;
      }
      
      .dw:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .dw:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .hover {
        display: inline-block;
        position: relative;
        color: rgb(255, 230, 0);
      }
      
      .hover:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 230, 0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .first-image-class img {
        border-radius: 15px;
        width: 300px;
      }
      
      .first-image-class :hover img {
        transform: scale(1.2);
      }

      .first-image-class img {
        overflow: hidden;
        transform-origin: 0 0;
        transition: transform .25s, visibility .25s ease-in;
      }
      
      @media only screen and (max-width:600px){
        ul {
            list-style-type: none;
            margin-top: 0px;
            padding-left: 1px;      
            overflow: hidden;
            width: 257px;
            background-color: rgb(36, 36, 36);
          }
          
          li {
            float: left;
          }
          
          li a {
            font-family: poppins;
            font-size: xx-small;
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 5px;
            text-decoration: none;
            margin-right: 0px;
          }

          .dw a{
            color: rgb(0, 0, 0);
            background-color: rgb(255, 230, 0);
        }
  
        .dw {
          display: inline-block;
          position: relative;
          color: #ffffff;
        }
        
        .dw:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000000;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        
        .dw:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
  
        .hover {
          display: inline-block;
          position: relative;
          color: rgb(255, 230, 0);
        }
        
        .hover:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: rgb(255, 230, 0);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        
        .hover:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        img {
          border-radius: 20px;
          width: 257px;
        }
  
      }

}
